<h2 mat-dialog-title><i class="fas fa-envelope"></i> Contact Us</h2>

<mat-dialog-content>
  <form class="contact-us-form">
    <mat-form-field>
      <input matInput placeholder="Name" value="" required />
      <mat-icon matSuffix>face</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input type="email" matInput placeholder="Email" value="" required />
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <textarea rows="3" matInput placeholder="Message" value="" required></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button class="mat-button" (click)="close()">Close</button>
  <button mat-button class="mat-button mat-primary send-button"><i class="fas fa-paper-plane"></i> Send</button>
</mat-dialog-actions>
