
.toolbar {
  position: absolute;
  background: transparent;
  color: #000000c9;
  z-index: 2;

  .spacer {
    flex: 1 1 auto;
  }
}

.project-mission-icon-button {
  display: none;
}

.project-mission-text-button {
  i {
    font-size: 20px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .project-mission-text-button {
    display: none;
  }

  .project-mission-icon-button {
    display: flex;

    i {
      font-size: 25px;
    }
  }
}
