<mdc-top-app-bar class="demo-top-app-bar-with-tabs">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section
      class="container-left"
      align="start"
      title="Conferences MD"
    >
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section class="container-right" align="end">
      <button mdc-button class="project-mission-text-button">
        <i class="fas fa-rocket"></i> Project Mission
      </button>
      <button mdc-button class="project-mission-icon-button">
        <i class="fas fa-rocket"></i>
      </button>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>
