.demo-top-app-bar-with-tabs {
  color: black;
  background-color: #36364000;

  .mdc-tab-bar {
    margin-top: 1em;

    @media (max-width: 599px) {
      margin-top: 0.5em;
    }
  }
}

::ng-deep mdc-top-app-bar-section {
  mdc-icon {
    color: black;
  }
}

.project-mission-icon-button {
  display: none;
}

.project-mission-text-button {
  i {
    font-size: 20px;
    margin-right: 5px;
  }
}

::ng-deep .mdc-top-app-bar__title {
  padding-left: 0px;
}

@media only screen and (max-width: 800px) {
  .project-mission-text-button {
    display: none;
  }

  .project-mission-icon-button {
    display: flex;

    i {
      font-size: 25px;
    }
  }
}
