<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <div class="container-left">
      <span>Conferences MD</span>
    </div>
    <span class="spacer"></span>
    <div class="container-right">
      <button mdc-button class="project-mission-text-button">
        <i class="fas fa-rocket"></i> Project Mission
      </button>
      <button mdc-button class="project-mission-icon-button">
        <i class="fas fa-rocket"></i>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
