.container {
  margin-left: 15%;
  margin-right: 15%;
}

.container-left {
  margin-left: 15%;
}

.container-right {
  margin-right: 15%;
}

@media only screen and (max-width: 800px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-left {
    margin-left: 5%;
  }

  .container-right {
    margin-right: 5%;
  }
}
