.container {
  margin-left: 15%;
  margin-right: 15%;
}

.container-left {
  margin-left: 15%;
}

.container-right {
  margin-right: 15%;
}

@media only screen and (max-width: 800px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-left {
    margin-left: 5%;
  }

  .container-right {
    margin-right: 5%;
  }
}

.modal-dialog {
  width: 45%;
  max-width: 95vw;
}

.small-modal-dialog {
  width: 20%;
}

@media only screen and (max-width: 1650px) {
  .small-modal-dialog {
    width: 25%;
  }
}

@media only screen and (max-width: 580px) {
  .modal-dialog {
    max-width: 95vw !important;
    width: 95%;
  }

  .small-modal-dialog {
    width: 90%;
  }
}

a {
  color: $blue-3;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.5s ease;
  &:hover {
    color: $blue-2;
  }
}
