.mat-dialog-title {
  border-bottom: 1px solid #dadada;
  padding-bottom: 10px;
}

.add-event-form {
  mat-form-field {
    display: block;
  }
}

.suggestion-message {
  background: rgba(246, 213, 154, 0.53);
  padding: 15px;
}

.done-button {
  i {
    font-size: 20px;
  }
}
