<h2 mat-dialog-title>{{ event.name }}</h2>

<mat-dialog-content>
  <div class="event-header">
    <h3>
      {{ event.date }}
    </h3>

    <mat-chip-list>
      <mat-chip disableRipple="true">{{ event.type }}</mat-chip>
    </mat-chip-list>
  </div>

  <h4 *ngIf="event.description">Description:</h4>
  <p>{{ event.description }}</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button class="mat-button mat-primary" (click)="close()">GOT IT</button>
  <a class="mat-button mat-flat-button mat-primary open-web-link" *ngIf="event.link" [href]="event.link" target="_blank" mat-button>
    <i class="fas fa-globe"></i> Open in Web</a
  >
</mat-dialog-actions>
