@import 'theme/colors';
@import '~@angular-mdc/theme/material';
@import 'theme/theme-variables';
@import '~@angular/material/theming';
@include mat-core();
@include angular-material-theme($app-theme);

@import 'theme/global';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', sans-serif;
}
